.info-block__list
  max-width: calc(100vw - ($minPadding * 2))
  display: grid
  grid-template-columns: repeat(auto-fill, calc(50% - 15px))
  justify-content: center
  gap: 30px
  @include for-tablet-landscape-up
    max-width: calc($maxWidth - ($maxPadding * 2))
  @include for-phone-only
    grid-template-columns: repeat(auto-fill, 100%)
